version: '1.0.{build}'
image: Visual Studio 2017
branches:
  only:
  - master
init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true
install:
  # Install repo specific stuff here

before_build:
  - cmd: dotnet --version
build_script:
  - cmd: dotnet tool install -g Cake.Tool
  - cmd: dotnet cake build.cake
deploy: off